.title {
  font-family: Roboto, sans-serif;
  font-size: 58px;
  color: #ffffff;
  position: absolute;
  padding: 200px 0 0 120px;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 48px;
  }
}
@media screen and (max-width: 990px) {
  .title {
    font-size: 40px;
    padding: 220px 0 0 120px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
    padding: 220px 0 0 120px;
  }
}
@media screen and (max-width: 580px) {
  .title {
    font-size: 28px;
    padding: 220px 0 0 120px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    display: none;
  }
}
